/* src/Presentation.css */
body,
html {
  margin: 0;
  padding: 0px;
  height: 100%;
  font-family: Arial, sans-serif;
}

.slide {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.navigation {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* .button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.button:disabled {
  background-color: #cccccc;
} */

button {
  margin: 10px;
}

.navigation {
  opacity: 0.2;
  transition: opacity 0.5s ease-in-out;
}

.navigation:hover {
  opacity: 1;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide {
  animation: slide-in 0.5s ease-out forwards;
}

pre {
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  max-width: 100%;
}

pre code {
  font-family: "Source Code Pro", monospace;
  color: #f8f8f2;
}
pre code .comment {
  color: #757575;
}
pre code .keyword {
  color: #c5a5c5;
}
pre code .number {
  color: #f08d49;
}
pre code .string {
  color: #8dc891;
}
pre code .function {
  color: #79b6f2;
}
pre code .class-name {
  color: #e7c547;
}
pre code .operator {
  color: #e7c547;
}
